/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
}

/* MAIN */

.container {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.marker {
    width: 200px;
    height: 25px;
    margin: 10px auto;
}

.cap {
    width: 60px;
    height: 25px;
}

