/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
}

/* MAIN */

.container {
    background-color: rgb(255, 255, 255);
}

